/********************
  Global Styles
********************/
* {
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  box-sizing: border-box;
}

body {
  background: #efefef;
  color: #565656;
}

a {
  color: #232323;
  text-decoration: none;
  font-weight: bold;
  transition: all .5s;
}

a:hover {
  color: tomato;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 10px 20px;
  font-size: 1.2em;
}

h3 {
  font-size: 2.0em;
  color: tomato;
  text-transform: uppercase;
}

.section {
  clear: both;
}

/********************
  Header Styles
********************/
header h2 {
  font-size: 2.2em;
  color: tomato;
}

header ul {
  list-style-type: none;
}

header li {
  width: 100%;
  background: #FFFFFF;
  padding: 20px 0;
  margin: 10px 0;
}

header a {
  display: block;
  width: 100%;
}


/********************
  Profile Styles
********************/
.profile-image {
  width: 50%;
  border-radius: 100%;
  margin: 30px 0;
}



/********************
  Portfolio Styles
********************/
.portfolio-card img{
  max-width: 90%;
}

.portfolio-card p {
  margin-bottom: 30px;
}

.portfolio-card h4 {
  margin: 35px 0;
  font-size: 1.7em;
}



/********************
  Contact Styles
********************/
.contact-type {
  margin-bottom: 35px;
}

.contact-info a {
  margin-left: 30px;
}

.contact-info {
  margin-bottom: 30px;
}

/********************
  Footer Styles
********************/
footer {
  border-top: 2px solid #ABABAB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .89em;
}

footer h2 {
  padding-left: 10px;
}

.footer-to-top {
  padding-right: 10px;
}

.bottom-nav {
  display: none;
}


/********************
  Tablet Media Queries Styles
********************/

@media (min-width: 760px) {
  /********************
    Global Styles
  ********************/
  h3 {
    margin: 40px 0;
    padding-top: 30px;
  }

  .hide-small {
    display: block;
  }

  .hide-medium {
    display: none;
  }

  /********************
    Header Styles
  ********************/
  header h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  header ul {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }

  header li {
    background: initial;
    font-size: 1.5em;
    padding-top: 10px;
  }


  /********************
    Profile Styles
  ********************/
  #home {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .profile-image {
    width: 40%;
    margin-right: 30px;
  }

  #home p {
    text-align: left;
    font-size: 1.5em;
  }


  /********************
    Portfolio Styles
  ********************/
  .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-card {
    display: block;
    width: 50%;
  }

  .portfolio-card img{
    max-width: 94%;
  }
  .portfolio-card p {
    font-size: 1.3em;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .portfolio-card h4 {
    margin: 10px 0;
  }


  /********************
    Contact Styles
  ********************/
  .contact-type {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 1.3em;
  }

  .contact-info {
    margin-bottom: 15px;
  }

  /********************
    Footer Styles
  ********************/

  footer {
    margin-top: 30px;
  }

  footer h2, footer a {
    font-size: 1.7em;
  }

  .bottom-nav {
    width: 50%;
    float: right;
  }

  .bottom-nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
  }

  .bottom-nav li {
    padding-top: 8px;
    list-style-type: none;
    font-size: .7em;
    padding-left: 20px;
  }
}

/********************
  Desktop Media Queries Styles
********************/

@media (min-width: 1000px) {
  /********************
    Layout Styles
  ********************/
  .wrapper {
    max-width: 1200px;
    width: 80%;
    margin: auto;
  }

  .section {
    background: rgb(244, 244, 244);
    box-shadow: 1px 1px 1px rgb(200, 200, 200);
    border-radius: 5px;
  }

  /********************
    Header Styles
  ********************/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header ul {
    font-size: .83em;
  }

  header nav {
    flex-grow: 1;
    padding-top: 1.94em;
    align-self: center;
  }

  header h2 {
    flex-grow: 1;
    align-self: center;
    text-align: left;
    padding-left: 20px;
  }

  /********************
    Home Styles
  ********************/

  .profile-image {
    width: 30%;
    box-shadow: 1px 3px 5px rgb(200,200,200);
    transition: all .5s;
  }

  .profile-image:hover {
    transform: scale(1.05) rotate(10deg);
  }

  /********************
    Portfolio Styles
  ********************/

  .portfolio-card {
    width: 33%;
    padding-top: 20px;
    transition: all .5s;
  }

  .portfolio-card:hover {
    box-shadow: 1px 1px 20px tomato;
  }


  /********************
    Footer Styles
  ********************/
  .bottom-nav ul{
    display: flex;
    justify-content: flex-end;
  }

}
