/********************
  Global Styles
********************/
* {
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
}

body {
  background: #efefef;
  color: #565656;
}

a {
  color: #232323;
  text-decoration: none;
  font-weight: bold;
  transition: all .5s;
}

a:hover {
  color: tomato;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 10px 20px;
  font-size: 1.2em;
}

h3 {
  font-size: 2.0em;
  color: tomato;
  text-transform: uppercase;
}

/********************
  Header Styles
********************/
header h2 {
  font-size: 2.2em;
  color: tomato;
}

header ul {
  list-style-type: none;
}

header li {
  width: 100%;
  background: #FFFFFF;
  padding: 20px 0;
  margin: 10px 0;
}

header a {
  display: block;
  width: 100%;
}


/********************
  Profile Styles
********************/
.profile-image {
  width: 50%;
  border-radius: 100%;
  margin: 30px 0;
}



/********************
  Portfolio Styles
********************/
.portfolio-card img{
  max-width: 90%;
}

.portfolio-card p {
  margin-bottom: 30px;
}

.portfolio-card h4 {
  margin: 35px 0;
  font-size: 1.7em;
}



/********************
  Contact Styles
********************/
.contact-type {
  margin-bottom: 35px;
}

.contact-info a {
  margin-left: 30px;
}

.contact-info {
  margin-bottom: 30px;
}

/********************
  Footer Styles
********************/
footer {
  border-top: 2px solid #ABABAB;
}

footer h2, footer a {
  padding: 30px 20px;
  font-size: 1.2em;
  margin: 0 10px;
}

footer h2 {
  display: block;
  float: left;
}

footer a {
  float: right;
}


/********************
  Tablet Media Queries Styles
********************/

@media (min-width: 760px) {
  body {
    background: black;
  }
}
